$primary-color: #4F5AF0;


html, body, #main-frame {
	height:100%;
}

#top-frame {
	height: 50%;
	background-color: $primary-color;
}

#menu-frame {
	border-top: 1px solid #B6B6B6;
	height: 70px;
	background-color: #0008A1;
	padding-top: 20px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#bottom-frame {
	border-top: 1px solid #B6B6B6;
	height: 45%;
	overflow-y: auto;
}

#chat-embed {
	position: absolute; 
	width: 100%; 
	height: 100%;
	left:0;
}

#profile-wrapper {
	height: 100%;
}

#chat-embed-wrapper {
	position: relative;
	height: 100%;
}

#video-embed {
	position: absolute; 
	width: 100%; 
	height: 100%;
	left:0;
}

#video-embed-wrapper {
	position: relative;
	height: 100%;
}


a, a:hover, a:active, a:visited {
	color: white;
	cursor: pointer;
}

.channel-row {
	height: 70px;
	border-top: 1px solid #074E98;
	background-color: #3366CC;
	padding: 10px;
	color: white;
	padding: 0;
	min-width: 820px;

	.logo {
		height: 70px;
		border-bottom: 1px solid #074E98;
	}

	.preview {
		height: 70px;
		border-bottom: 1px solid #074E98;
	}

	div {
		display: inline-block;
		vertical-align: top;
	}

	.viewers {
		font-size: 12px;
		margin-left: 5px;
	}

	.streamer-info {
		width: 135px;
		margin: 5px 0px 0 10px;
		word-break: break-all;
	}

	.program-info {
		width: 600px;
		margin: 5px 0 0 10px;
		word-break: break-all;
	}

	.glyphicon-user {
		font-size: 12px;
	}

	.name, .title {
		font-weight: bold;
	}
}



.selected {
	background-color: #8b008b;
}

