$bg-color: #3F4B6C;
$primary-color: #333a56;
$secondary-color: #272727;
$accent-color: #52658f;
$text-color1: white;
$border-color: black;
$channel-border-color: #3F4B6C;


html, body, #main-frame {
	height:100%;
	background-color: $bg-color;
}

#top-frame {
	height: 50%;
	background-color: #282828;
}

#menu-frame {
	background-color: $secondary-color;
	color: $text-color1;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	font-weight: bold;
	border-top: 0px solid $border-color;
	
}

#bottom-frame {
	background-color: $bg-color;
	border-top: 1px solid $border-color;
	height: 50%;
	overflow-y: auto;
}

#chat-embed {
	position: absolute; 
	width: 100%; 
	height: 100%;
	left:0;
}

#profile-wrapper {
	height: 100%;
}

#chat-embed-wrapper {
	position: relative;
	height: 100%;
}

#video-embed {
	position: absolute; 
	width: 100%; 
	height: 100%;
	left:0;
}

#video-embed-wrapper {
	position: relative;
	height: 100%;
}


a, a:hover, a:active, a:visited {
	color: $text-color1;
	cursor: pointer;
}

.channel-row {
	height: 80px;
	border-top: 10px solid $channel-border-color;
	padding: 10px;
	color: $text-color1;
	padding: 0;
	min-width: 965px;
	font-size: 12px;
	

	.logo {
		height: 70px;
		border-bottom: 1px solid $channel-border-color;
		
	}

	.logo-wrapper {
		background-color: $primary-color;
		margin-left: 10px;
		// margin-right: 5px;
	}

	.preview {
		height: 70px;
		border-bottom: 1px solid $channel-border-color;
	}

	.preview-wrapper {
		background-color: $primary-color;
		margin-left: 5px;
		// margin-right: 5px
	}

	div {
		display: inline-block;
		vertical-align: top;
	}

	.viewers {
		font-size: 12px;
		margin-left: 5px;
	}

	.streamer-info {
		width: 135px;
		padding: 10px 4px 0 10px;
		background-color: $primary-color;
		height: 100%;
	    margin-left: -4px;
	    word-break: break-all;
	}

	.program-info {
		width: 600px;
		padding: 10px 0 0 10px;
		background-color: $primary-color;
		height: 100%;
		margin-left: -4px;
		word-break: break-word;
	}

	.glyphicon-user {
		font-size: 12px;
	}

	.name, .title {
		font-weight: bold;
	}
}



.selected {
	
}

