$color1: #3F4B6C;
$color2: #333a56;
$color3: #272727;
$color4: #52658f;
$text-color1: white;
$border-color: black;
$channel-border-color: #3F4B6C;
$channel-height: 75px;
$selected: #413254;

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;


@import "mixins";

.bg-wrap {
	position:relative;
	@include box-shadow-inset(0, 1px, 4px, rgba(0,0,0,0.3), 0, 0, 40px, rgba(0,0,0,0.1));
}

.bg-wrap:before, .bg-wrap:after
{
    content:"";
    position:absolute;
    z-index:-1;
    @include box-shadow(0, 0, 20px, rgba(0,0,0,0.8));
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

html, body, .main-frame {
	height:100%;
	background-color: $color3;
}


.container-fluid {
	height: 100%;
}


#left-frame {
	background-color: $color3;
	height: 51.5%;
	overflow-y: auto;
	padding-left: 5px;
}

#right-frame {
	height: 42.5%;
	background-color: #282828;
}

#menu-frame {
	background-color: $color3;
	color: $text-color1;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	font-weight: bold;
	
}

#chat-embed {
	position: absolute; 
	width: 100%; 
	height: 100%;
	left:0;
}

#profile-wrapper {
	height: 100%;
}

#chat-embed-wrapper {
	position: relative;
	height: 100%;
}

#video-embed {
	position: absolute; 
	width: 100%; 
	height: 100%;
	left:0;
}

#video-embed-wrapper {
	height: 100%;
	position: relative;
    margin: 0 -15px 0 -15px;
}

#bottom-right-frame {
	display: none;
	position: relative;
}


a, a:hover, a:active, a:visited {
	color: $text-color1;
	cursor: pointer;
	font-size: 12px;

}

.guide {
	overflow-y: auto;
	height: 100%;
	margin: 0 -15px -15px 0;
	background-color: $color1;
}

.navbar {

	margin-bottom: 0px;
	background-color: $color3;
}

.nav {
	li{
		a:hover, a:active, a:focus {
			background-color: black;
			border: 0;
		}
	}
}

.icon-bar {
	background-color: $text-color1;
}

.channel-row {
	height: $channel-height;
	color: $text-color1;
	font-size: 12px;
	margin: 5px 15px 0px 0px;

	

	.logo-wrapper {
		background-size: cover;
		height: 100%;
		padding: 0;
		margin-left: -10px;
		margin-top: -15px;
		margin-right: 15px;
	}

	.preview {
		position: relative;
		width: 100%;
	}

	.preview-wrapper {
		background-color: $color2;
		height: 100%;
		padding: 0;
		left: 30px;
		overflow: hidden;
	}

	div {
		display: inline-block;
		vertical-align: top;
	}

	.viewers {
		font-size: 12px;
	}

	.streamer-info {
		background-color: $color2;
		height: 100%;
	    word-break: break-all;
	    padding: 15px 10px 0px 10px;
	    position: relative;
		margin-right: -20px;

	    div {
	    	display: inline-block;
		    img {
		    	height: $channel-height;
		    }
	    }

	    .info {
	    	background-color: inherit;
	    	position: absolute;
	    	padding: 10px;
	    	height: $channel-height;
	    	width: 180px;
	    	top: 0px;
	    	right: 0px;
	    }
	}

	.program-info {
		background-color: $color2;
		height: 100%;
		word-break: break-all;
		padding: 10px 10px;
		left: 25px;
	}

	.glyphicon-user {
		font-size: 12px;
	}

	.name, .title {
		font-weight: bold;
		font-size: 12px;
	}
}



.selected {
	.streamer-info, .program-info, .info {
		background-color: $selected
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 

	#right-frame {
		height: 43.5%;
	}

	#left-frame {
		height: 45%;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

		#right-frame {
		height: 49%;
	}

	#left-frame {
		height: 45%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 

	#right-frame {
		height: 100%;
	}

	#video-embed-wrapper {
		height: 50%;
	}

	#bottom-right-frame {
		height: 50%;
		display: block;
	}

	#left-frame{
		height: 100%;
	}

	.container-fluid {
		height: 94.5%
	}

	.info {
		width: 100px;
	}

}
