.bg-wrap {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.bg-wrap:before, .bg-wrap:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px; }

html, body, .main-frame {
  height: 100%;
  background-color: #272727; }

.container-fluid {
  height: 100%; }

#left-frame {
  background-color: #272727;
  height: 51.5%;
  overflow-y: auto;
  padding-left: 5px; }

#right-frame {
  height: 42.5%;
  background-color: #282828; }

#menu-frame {
  background-color: #272727;
  color: white;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold; }

#chat-embed {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; }

#profile-wrapper {
  height: 100%; }

#chat-embed-wrapper {
  position: relative;
  height: 100%; }

#video-embed {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; }

#video-embed-wrapper {
  height: 100%;
  position: relative;
  margin: 0 -15px 0 -15px; }

#bottom-right-frame {
  display: none;
  position: relative; }

a, a:hover, a:active, a:visited {
  color: white;
  cursor: pointer;
  font-size: 12px; }

.guide {
  overflow-y: auto;
  height: 100%;
  margin: 0 -15px -15px 0;
  background-color: #3F4B6C; }

.navbar {
  margin-bottom: 0px;
  background-color: #272727; }

.nav li a:hover, .nav li a:active, .nav li a:focus {
  background-color: black;
  border: 0; }

.icon-bar {
  background-color: white; }

.channel-row {
  height: 75px;
  color: white;
  font-size: 12px;
  margin: 5px 15px 0px 0px; }
  .channel-row .logo-wrapper {
    background-size: cover;
    height: 100%;
    padding: 0;
    margin-left: -10px;
    margin-top: -15px;
    margin-right: 15px; }
  .channel-row .preview {
    position: relative;
    width: 100%; }
  .channel-row .preview-wrapper {
    background-color: #333a56;
    height: 100%;
    padding: 0;
    left: 30px;
    overflow: hidden; }
  .channel-row div {
    display: inline-block;
    vertical-align: top; }
  .channel-row .viewers {
    font-size: 12px; }
  .channel-row .streamer-info {
    background-color: #333a56;
    height: 100%;
    word-break: break-all;
    padding: 15px 10px 0px 10px;
    position: relative;
    margin-right: -20px; }
    .channel-row .streamer-info div {
      display: inline-block; }
      .channel-row .streamer-info div img {
        height: 75px; }
    .channel-row .streamer-info .info {
      background-color: inherit;
      position: absolute;
      padding: 10px;
      height: 75px;
      width: 180px;
      top: 0px;
      right: 0px; }
  .channel-row .program-info {
    background-color: #333a56;
    height: 100%;
    word-break: break-all;
    padding: 10px 10px;
    left: 25px; }
  .channel-row .glyphicon-user {
    font-size: 12px; }
  .channel-row .name, .channel-row .title {
    font-weight: bold;
    font-size: 12px; }

.selected .streamer-info, .selected .program-info, .selected .info {
  background-color: #413254; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #right-frame {
    height: 43.5%; }

  #left-frame {
    height: 45%; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #right-frame {
    height: 49%; }

  #left-frame {
    height: 45%; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #right-frame {
    height: 100%; }

  #video-embed-wrapper {
    height: 50%; }

  #bottom-right-frame {
    height: 50%;
    display: block; }

  #left-frame {
    height: 100%; }

  .container-fluid {
    height: 94.5%; }

  .info {
    width: 100px; } }
