<div ng-view class="row main-frame">

		<div id="left-frame" class="col-xs-7 main-page-frame">
			<div ng-repeat="stream in streams">
				<channel-row></channel-row>
			</div>
		</div>
		
		<div id="right-frame" class="col-xs-5 main-page-frame">
			<div id="video-embed-wrapper">
				<video-embed></video-embed>
			</div>

			<div id="bottom-right-frame" class="row">
				
				<div id="profile-wrapper" class="col-xs-7">
					
				</div>
				
				<div id="chat-embed-wrapper" class="col-xs-5">
					<chat-embed></chat-embed>
				</div>
				
			</div>


		</div>
	</div>