<div 
	class="channel-row" 
	ng-class="{'selected': live.selection == stream.channel.name}"
>
	<div class="logo-wrapper">
		<img ng-if="stream.channel.logo" class="logo" src="{{trustSrc(stream.channel.logo)}}" />
		<img ng-if="!stream.channel.logo" class="logo" src="/images/default_logo.png" />
	</div>
	
	<div class="streamer-info">
		<span class="name">
			<a ng-click="setLiveStream(stream.channel.name)">{{ stream.channel.display_name }}</a>
		</span> <br />
		<span class="glyphicon glyphicon-user"></span>
		<span class="viewers">{{ stream.viewers }}</span> 
	</div>
	<div class="preview-wrapper">
		<img class="preview" src="{{trustSrc(stream.preview.medium)}}" />
	</div>
	<div class="program-info">
		<span class="title">
			<a ng-click="setLiveStream(stream.channel.name)">{{ stream.channel.status }}</a>
		</span> <br />
		<a><span ng-click="getGameStreams(stream.game)" class="game">{{ stream.game }}</span></a>
	</div>
</div>