<div class="channel-row row" ng-class="{'selected': guide.selection.name == stream.channel.name}">

	<div class="streamer-info col-xs-5 col-sm-3 col-lg-2 text-left bg-wrap">
		<div class="logo-wrapper hidden-xs hidden-sm hidden-md">
			<img ng-if="stream.channel.logo" src="{{trustSrc(stream.channel.logo)}}" />
			<img ng-if="!stream.channel.logo" src="/images/default_logo.png" />
		</div>


		<div class="info text-left">
			<span class="name">
				<a ng-click="setLiveStream(stream.channel.name)">
					{{ stream.channel.display_name }}
				</a>
			</span> <br />
			<span class="glyphicon glyphicon-user"></span>
			<span class="viewers">{{ stream.viewers }}</span> 
		</div>
	</div>


	<div class="program-info col-xs-7 col-sm-9 col-lg-8 bg-wrap">
		<span class="title">
			<a ng-click="setLiveStream(stream.channel.name)">{{ stream.channel.status }}</a>
		</span> <br />
		<a href="/#/game/{{encodeURI(stream.game)}}"><span class="game">{{ stream.game }}</span></a>
	</div>

	<div class="preview-wrapper hidden-xs hidden-sm hidden-md col-lg-2 bg-wrap">
		<img class="preview" src="{{trustSrc(stream.preview.medium)}}" />
	</div>

</div>