	<nav class="navbar">
		
		<div class="container-fluid">
			

			<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a href="" class="navbar-brand">TwitchTV Guide</a>
		    </div>
			<div class="navbar-collapse collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li>
						<a href="/#/">Top Streams</a>
					</li>
					<li>
						<a href="/#/">Top Games</a>
					</li>
					<li>
						<a href="/#/">Browse Game</a>
					</li>
					<li>
						<a href="/#/">Related Streams</a>
					</li>
					<li>
						<a href="/#/">Followed Streams</a>
					</li>
					<li>
						<a href="/#/">Followed Games</a>
					</li>
				</ul>
			</div>
			
		</div>

	</nav>
	<div id="left-frame" class="col-xs-7 main-page-frame">
	

		<div class="guide">
			
			<div ng-repeat="stream in guide.selection.list">
				<channel-row></channel-row>
			</div>
		</div>


	</div>