<div ng-controller="guideController" class="container-fluid">
	
	<div class="row main-frame">

		<ng-view></ng-view>
		
		<div id="right-frame" class="col-xs-5 main-page-frame">
			<div id="video-embed-wrapper">
				<video-embed></video-embed>
			</div>

			<div id="bottom-right-frame" class="row">
				
				<div id="profile-wrapper" class="col-xs-7">
				</div>
				
				<div id="chat-embed-wrapper" class="col-xs-5">
					<chat-embed></chat-embed>
				</div>
				
			</div>

		</div>
	</div>

</div>

<script
>  var stream_data = <%- streams %>;
</script>
	
