<div ng-controller="frontPageController" class="container">
	
	<div id="top-frame" class="row main-page-frame">

	</div>

	<div id="bottom-frame" class="row main-page-frame">
		{{ streams }}
	</div>

</div>

<script>
  var data = <%- JSON.stringify(data) %>;
</script>
	
