<div ng-controller="frontPageController" id="main-frame" class="container-fluid">
	
	<div id="top-frame" class="row main-page-frame">

		<div id="profile-wrapper" class="col-xs-4 resize_hor">
			{{stream}}
		</div>
		<div id="video-embed-wrapper" class="col-xs-5 resize_hor" style="height: 100%">
			<video-embed></video-embed>
		</div>
		<div id="chat-embed-wrapper" class="col-xs-3 resize_hor">
			<chat-embed></chat-embed>
		</div>

	</div>

	<div id="menu-frame" class="row main-page-frame text-center">
		<div class="col-xs-2">menu</div>
		<div class="col-xs-2">menu</div>
		<div class="col-xs-2">menu</div>
		<div class="col-xs-2">menu</div>
		<div class="col-xs-2">menu</div>
		<div class="col-xs-2">menu</div>
	</div>

	<div id="bottom-frame" class="row main-page-frame">
		<div ng-repeat="stream in streams">
			<channel-row></channel-row>
		</div>
	</div>

</div>

<script
>  var stream_data = <%- streams %>;
</script>
	
